.carousel_container {
  background-color: #000;
  color: #fff;
}

.quick_links_container {
  background-color: #ded9d5;
 
  .quick_links_link {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    .quick_links_img {
      margin-bottom: 5px;
      width: 74px;
    }
    .quick_links_txt {
      color: @ungreytext;
      font-weight: 600;
      text-decoration: none;
    }
  }
}